.App {
  height: 800px;
  width: 100%;
  text-align: center;
  display: grid;
  gap: 10px;
  grid-template-columns: auto 50% 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "header slider legend"
    "chart chart chart";
}
@media (max-width: 768px) {
  .App {
    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto 1fr;
    grid-template-areas:
      "header"
      "chart"
      "slider"
      "legend";
  }
}
.header {
  grid-area: header;
  font-size: 48px;
  text-align: left;
}
.chart {
  grid-area: chart;
  width: 100%;
}
.slider {
  grid-area: slider;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
}
.legend {
  grid-area: legend;
}
